html, body{
  background-color: #E5E5E5;
  overflow-x: hidden;
}
.font-family-1{
  font-family: 'Poppins', sans-serif;
}
.font-family-2{
  font-family: 'Roboto', sans-serif;
}
.font-family-3{
  font-family: 'DM Sans', sans-serif;
}
.nav-style{
  background-color: #650202;
}
.brand-style-1{
  font-size: 18px;
  line-height: 99.9%;
  margin: 0.69rem 3rem 0.69rem 3rem;
}
.nav-item-style{
  font-weight: 600;
  font-size: 1.03rem;
line-height: 1.56rem;
}
.nav-item-style a{
  min-width: 5.2rem;
}
.btn-style{
  background: #FFFFFF;
border-radius: 5px;
font-weight: 500;
font-size: 0.5rem;
line-height: 0.75rem;
padding: 0.2rem 1.25rem;
}
#four-letters{
  max-width: 2rem;
}

.hero-section{
  background-image: url('../img/herod.svg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  position: relative;
  min-height: 50vh;
  min-width: 100vw;
  position: relative;
}
.hero-section::after{
content: "";
display: block;
min-height: 50vh;
min-width: 100vw;
background: rgba(4, 4, 4, 0.49);
position: absolute;
top: 0;
left: 0;
z-index: 0;
}

.hero-section > * {
  z-index: 10;
  position: relative;
}
section h1{
  font-style: normal;
font-weight: 500;
font-size: 1rem;
line-height: 1.5rem;
text-align: center;
color: #FFFFFF;
padding-top: 20%;
max-width: 54%;
}
.lead-paragraph{
  font-style: normal;
font-weight: normal;
font-size: 0.625rem;
line-height: 0.94rem;
text-align: center;
color: #FFFFFF;
max-width: 47%;
}
section h2{
  font-weight: 500;
font-size: 0.875rem;
line-height: 1.31rem;
letter-spacing: -0.005em;
margin-top: 2.88rem;

}
.paragraph{
  font-weight: normal;
font-size: 0.625rem;
line-height: 0.93rem;
max-width: 70%;
text-align: center;
}
.h3-font{
  font-weight: normal;
font-size: 0.875rem;
line-height: 1.31rem;
}
.p-font{
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.94rem;
  /* max-width: 12.625rem; */
  margin-right: 1.06rem;
}
/* .our-team{
  box-shadow: 4.13015px 5.16269px 3.09761px rgba(0, 0, 0, 0.25);
} */
.icon-img{
  /* margin-left: 4.8rem; */
  /* margin-right: 2.93rem; */
}
.text-width{
  min-width: 16rem;
}
.swiper-container {
	width: 100%;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: fit-content;
}
.footer-style{
  background-color: #000;
}
@media (min-width: 576px) { 
  /* .hero-section{
    background-image: url('../img/herom.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
  } */
}


@media (min-width: 768px) { 
  .hero-section{
    background-image: url('../img/herom.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
  }
  .hero-section::after{
    content: "";
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(4, 4, 4, 0.49);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    }
    .h3-font{
      font-weight: 600;
      font-size: 0.7rem;
      line-height: 1.36rem;
    }
    .p-font{
      font-size: 0.7rem;
      line-height: 1.36rem;
      text-align: center;
    }
}


@media (min-width: 992px) { 
  .btn-style{
  font-size: 0.9rem;
  line-height: 1.375rem;
  font-weight: 500;
  padding: 0.7rem 2.4rem;
  margin: 1.94rem 3.75rem 1.94rem 0.125rem;
  min-width: 10.9rem;
  }
  .hero-section{
    background-image: url('../img/herom.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
  }
  .hero-section::after{
    content: "";
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(4, 4, 4, 0.49);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    }
    .nav-item-style{
      padding: 2.52rem 2.03rem;
      font-weight: 600;
      font-size: 1.03rem;
    line-height: 1.56rem;
    }
    #four-letters{
      max-width: 2rem;
      padding: 2.52rem 2.03rem;
      font-weight: 600;
      font-size: 1.03rem;
    line-height: 1.56rem;
    }
    section h2{
      font-weight: 500;
      font-size: 3.1rem;
      line-height: 4.63rem;
      letter-spacing: -0.005em;
    
    }
    .paragraph{
font-weight: 400;
font-size: 1.01rem;
line-height: 1.56rem;
text-align: center;
max-width: 51%;
    }
    .icon-img{
  margin-top: 4.03rem ;
  margin-bottom: 1.74rem;
    }
   
    .h3-font{
      font-weight: 600;
font-size: 1.03rem;
line-height: 1.56rem;
    }
    .p-font{
      max-width: 14.8rem;
      font-size: 1.03rem;
      line-height: 1.56rem;
text-align: center;
    }
}


@media (min-width: 1200px) { 
  .btn-style{
  font-size: 0.9rem;
  line-height: 1.375rem;
  padding: 0.7rem 2.4rem;
  margin: 0 10.75rem 0 6.125rem; 
  }
}